<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Jessica André" />
    <meta name="description" content="Portfolio de desarrollo" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiencia</title>
    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <!-- FAVICON -->
    <link rel="icon" href="#" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/experiencia.css" />

    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Dirt&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1 class="experiencia-titulo">Experiencia</h1>
    <div class="contendeor-general">
      <div class="contenedor-de-contenidos">
        <h2>/ COMMUNITY MANAGER</h2>
        <h3>PULSO DE VIDA</h3>
        <p>
          Represento a la marca en las redes sociales. Mi trabajo implica crear
          contenido atractivo, interactuar con la audiencia y analizar métricas
          para optimizar estrategias. Mis habilidades incluyen comunicación,
          creatividad, gestión del tiempo y empatía.
        </p>
        <div class="contender-de-redes">
          <a href="https://www.instagram.com/pulso_de_vida/" target="_blank"
            >PULSO_DE_VIDA</a
          >
          <img class="icon" src="/img/instagram-icon.png" alt="" />
        </div>
   
      </div>

      <div class="contendeor-general">
        <div class="contenedor-de-contenidos">
          <h2>/ ENCARGADA</h2>
          <h3>BACK STORE</h3>
          <p>
            Actualmente, trabajo como encargada en comercio, superando
            objetivos, logrando metas y optimizando operaciones. Tambien me
            ocupo de la red social generando contenido y respondiendo consultas
            de clientes como asi concretando ventas.
          </p>
          <div class="contender-de-redes">
            <a
              href="https://www.instagram.com/backstore.sanmiguel/"
              target="_blank"
              >BACKSTORE.SANMIGUEL</a
            >
            <img class="icon" src="/img/instagram-icon.png" alt="" />
          </div>
        </div>

        <div class="contendeor-general">
          <div class="contenedor-de-contenidos">
            <h2>/ COMMUNITY MANAGER</h2>
            <h3>GUMPTION</h3>
            <p>
              Industria de las zapatillas urbanas, dirigí las estrategias de
              marketing digital. Mi enfoque principal fue la creación de
              contenido atractivo en redes sociales para fomentar la interacción
              comunitaria. También, mantengo actualizada la tienda en online,
              incorporando nuevos productos y gestionando todo el contenido
              asociado.
            </p>
            <div class="contender-de-redes">
              <a href="https://www.instagram.com/somosgumption/" target="_blank"
                >SOMOSGUMPTION</a
              >
              <img class="icon" src="/img/instagram-icon.png" alt="" />
            </div>
          </div>
        </div>

        <div class="contendeor-general">
          <div class="contenedor-de-contenidos">
            <h2>/ FRONTEND</h2>
            <h3>QUINTO IMPACTO</h3>
            <p>
              El proyecto "Sistema B" implicó la modificación de la página
              principal, enfocándome en su aspecto visual. Agregué nuevos
              estilos y funcionalidades, como efectos modernos, botones y un
              carrusel, correcciones de textos, componentes, entre otros.
            </p>
            <div class="contender-de-redes">
              <a href="https://www.instagram.com/sistemabec/" target="_blank"
                >SISTEMABEC</a
              >
              <img class="icon" src="/img/instagram-icon.png" alt="" />
            </div>
            <div class="contender-de-redes">
              <a
                href="https://www.instagram.com/quinto_impacto/"
                target="_blank"
                >QUINTO_IMPACTO</a
              >
              <img class="icon" src="/img/instagram-icon.png" alt="" />
            </div>
          </div>
        </div>

        <div class="contendeor-general">
          <div class="contenedor-de-contenidos">
            <h2>/ PROGRAMACIÓN WEB FULL STACK</h2>
            <h3>DIGITAL HOUSE</h3>
            <p>
              Este curso me ha enseñado a crear una página web desde cero, en la
              que se realizaron funcionalidades de estilos, cargas de productos,
              implementación base de datos y creación de carrito de compras,
              haciendo que sea eficaz para el cliente a la hora de la compra.
              Asimismo, se implementó un filtro donde se puede elegir por
              categoría distintos productos donde hace que la comprar sea más
              facíl y rápido.
            </p>
            <div class="contender-de-redes">
              <a href="https://www.instagram.com/somosgumption/" target="_blank"
                >HERRAMIENTAS:</a
              >
              <img class="icon" src="/img/instagram-icon.png" alt="" />
            </div>
          </div>
        </div>

        <div class="contendeor-general">
          <div class="contenedor-de-contenidos">
            <h2>/ CAJERA</h2>
            <h3>FALABELLA</h3>
            <p>
              Realize transacciones, brindando un servicio al cliente. Manejé
              pagos en efectivo y electrónicos, además de ofrecer asistencia y
              resolver consultas de los clientes.
            </p>
            <div class="contender-de-redes">
              <a href="https://www.instagram.com/falabella_cl/" target="_blank"
                >FALABELLA_CL</a
              >
              <img class="icon" src="/img/instagram-icon.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="/habilidades"><img class="arrow" src="/img/arrow.png" alt="" /></a>
  </body>
</html>
