<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Jessica André" />
    <meta name="description" content="Portafolio de desarrollo" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Perfil</title>
    <!-- FAVICON -->
    <link rel="icon" href="#" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/perfil.css" />
    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <!-- GOOGLE FONTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rubik+Dirt&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <h1>Perfil</h1>
      <div class="contenedor-perfil">
        <img src="/img/foto-perfil.jpeg" alt="Jessica André" />
        <h4>¡Hola! soy Jessi</h4>
      </div>
      <div class="parrafo">
        <p>
          Te doy la bienvenida a mi portafolio centrado en diseño, ilustración y
          programación web en el frontend! Mis proyectos se destacan por ese
          toque único que les imprimo. Me encanta ser versátil y experimentar
          para adaptarme a las necesidades de cada cliente. Soy altamente
          creativa y proactiva, cuidando siempre los detalles y manteniendo una
          buena organización.<br />
          <br />
          Disfruto explorar nuevas herramientas y aprender contenidos frescos
          para continuar mejorando y aplicarlos en mis futuros proyectos. Mi
          objetivo principal es brindar una experiencia valiosa al usuario
          final. ¡Gracias por explorar mi trabajo!
        </p>
      </div>
      <a href="/experiencia"
        ><img class="arrow" src="/img/arrow.png" alt=""
      /></a>
    </section>
  </body>
</html>
