body {
  box-sizing: border-box;
  background-color: #343434;
}

.contendeor-general {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* centra horizontalmente los elementos */
  padding: 10px;
}

/*H1 > Título 'Experiencia'*/

.experiencia-titulo{
  color: #fefdf8;
  font-family: borel;
  font-size: 42px;
  padding: 42px;
  margin: 22px 0px -11px 0px;
}

.contenedor-de-contenidos {
  width: 33%;
  background-color: #fefdf8;
  border-radius: 11px;
  padding: 36px;
}

/*H2 > Títulos de cada experiencia*/

h2 {
  font-family: Victor Mono;
  font-size: 18px;
  color: #c4abf9;
}

h3 {
  margin: 11px 27px 11px 27px;
  font-size: 16px;
  font-family: Victor Mono;
}

p {
  margin: 11px 27px 11px 27px;
  font-size: 14px;
  font-family: Victor Mono;
}

.icon {
  width: 5%;
  float: left;
  margin: 2px 11px 0px 28px;
}

a {
  color: #343434;
  text-decoration: none;
}

.contender-de-redes {
  justify-content: center;
}

.arrow {
  width: 4%;
  float: right;
  margin: 0px 40px 20px 0px;
}
