body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefdf8;
}

.perfil-titulo{
  color: #343434;
  font-family: borel;
  font-size: 42px;
  padding: 42px;
  margin: 22px 0px -46px 0px;
}
.contenedor-perfil {
  max-width: 1028px;
  margin: auto;
  display: flex;
  align-items: center;
}

img {
  width: 32%;
  padding: 40px;
  border-radius: 50px;
  margin-bottom: -11px;
  margin-left: 100px;
}

h4 {
  width: 29%;
  color: #343434;
  font-family: Victor Mono;
  margin-left: 80px;
  font-size: 44px;
}

.parrafo {
  display: flex;
  justify-content: center;
}

.parrafo p {
  width: 80%;
  font-size: 16px;
  font-family: victor mono;
  color: #343434;
  background-color: #c4abf9;
  border-radius: 18px;
  padding: 22px;
  margin: 33px;
}

.arrow {
  display: flex;
  width: 4%;
  float: right;
}
